body {
  background-color: peru;
}

p {
  font-size: 30px;
}

#rrss {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

footer {
  background-color: darkblue;
  text-align: center;
  color: white;
  padding: 10px;
}
